.Products-wrapper {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.product {
  position: relative;
  width: 180px;
  max-width: 45%;
  height: 250px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex: 1 0 180px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--shadows);
}
.product-image {
  width: 100%;
  height: 50%;
  border-radius: inherit;
  overflow: hidden;
}
.product-title {
  font-family: var(--normal-text);
  color: var(--primary-color);
  font-weight: bold;
}
.product-ratting {
  font-family: var(--normal-text);
  color: var(--secondery-color);
}
.product-price {
  font-family: var(--normal-text);
  font-weight: bold;
  font-size: 1.3rem;
}
.product-price span {
  color: var(--secondery-color);
  font-size: 0.8rem;
}
.product-stock {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: clamp(0.75rem, 2vw, 1rem); /* 0.75rem */
}
.Add-to-cart {
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 10px;
  width: 40%;
  height: 10%;
  border: none;
  background: var(--secondery-color);
  font-family: var(--normal-text);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.8s;
}
.Add-to-cart:hover {
  background-color: white;
  border: 1px solid var(--primary-color);
}
