.product-details-container {
  grid-area: PD;
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px 20px 0px 20px;
  font-family: var(--normal-text);
  gap: 10px;
  position: relative;
}
.product-details-image {
  width: 100%;
  height: clamp(250px, 30vw, 380px);
  border-radius: 20px;
  object-fit: cover;
  background-position: center;
  object-fit: cover;
}
.product-details-title {
  font-weight: bold;
  font-size: clamp(1rem, 4vw, 1.7rem);
  color: var(--primary-color);
}
.product-details-description {
  font-size: clamp(0.7rem, 3vw, 1rem);
  color: var(--secondery-color);
}
.product-details-ratting {
  font-size: clamp(0.7rem, 3vw, 1rem);
}
.product-details-price {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  font-weight: bold;
}
.product-details-price span {
  font-size: clamp(0.7rem, 2vw, 1rem);
  color: var(--secondery-color);
}
.product-details-footer {
  width: 100%;
  height: 70px;
  padding: 0px 5vw;
  border: 0.1px solid;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondery-color);
  overflow: hidden;
}
.product-details-add-to-cart {
  padding: 10px;
  border-radius: 20px;
  width: clamp(100px, 15vw, 200px);
  cursor: pointer;
}
.product-details-stock {
  font-size: clamp(0.7rem, 2vw, 1rem);
}
.product-suggetion-container {
  grid-area: SP;
  width: 100%;
  height: 100vh;
  padding: 20px 20px 20px 20px;
  overflow: scroll;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-suggetion-container::-webkit-scrollbar {
  display: none;
}
.suggested-item {
  border: 1px solid;
  height: auto;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "img title"
    "img rating"
    "img price"
    "img add";
  gap: 5px;
  align-items: center;
  justify-content: start;
  font-family: var(--normal-text);
}
.suggested-item-image {
  border-radius: inherit;
  grid-area: img;
  width: 100px;
  height: 100%;
  overflow: hidden;
}
.suggested-item-title {
  grid-area: title;
  font-weight: bold;
  font-size: clamp(1rem, 2vw, 1.2rem);
}
.suggested-item-description {
  grid-area: des;
  font-size: clamp(0.75rem, 1.7vw, 0.85rem);
  max-height: 60px;
  overflow: scroll;
  color: var(--secondery-color);
}
.suggested-item-description::-webkit-scrollbar {
  display: none;
}
.suggested-item-rating {
  grid-area: rating;
  font-size: 0.8rem;
}
.suggested-item-price {
  grid-area: price;
  font-weight: bolder;
  font-size: clamp(1rem, 2vw, 1.5rem);
}
.suggested-item-price span {
  color: var(--secondery-color);
  font-size: clamp(0.7rem, 1.4vw, 1rem);
}
.suggeste-item-btn {
  grid-area: add;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
.suggeste-item-btn button {
  padding: 8px 16px;
  border-radius: 10px;
  border: 0.5px solid;
  cursor: pointer;
  background: var(--secondery-color);
}
.adding-alert {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: var(--secondery-color);
  width: 300px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  font-family: var(--normal-text);
  font-size: 1.1rem;
  border: 1px solid;
}
@media screen and (max-width: 650px) {
  .product-details-container {
    height: auto;
  }
  .product-suggetion-container {
    height: auto;
    overflow: hidden;
  }
  .adding-alert {
    position: fixed;
    width: 95%;
    text-align: center;
  }
}
