.Navbar {
  position: sticky;
  top: 0px;
  display: flex;
  min-height: 40px;
  width: 80%;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 0px 10px var(--shadows);
  background: var(--body);
  z-index: 10;
}
.store-logo {
  width: clamp(80px, 30%, 200px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
  gap: 5px;
}
.store-logo p {
  font-weight: bold;
  font-family: var(--normal-text);
  font-size: clamp(1.1rem, 5vw, 1.6rem);
}
.store-icon {
  font-size: clamp(1.1rem, 5vw, 1.6rem);
}
.search-bar {
  height: 35px;
  width: 45%;
  border-radius: inherit;
  overflow: hidden;
  display: flex;
  background: var(--secondery-color);
}
.search-bar input {
  height: 100%;
  width: 90%;
  border: 0.5px solid var(--shadows);
  border-radius: inherit;
  /* border-color: red; */
}
.search {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 5px 5px 5px 0px;
}
.cart-icon {
  height: 35px;
  background-color: var(--secondery-color);
  color: var(--primary-color);
  width: 7%;
  border-radius: inherit;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.count {
  font-size: 1rem;
  width: 20px;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  height: 20px;
  background-color: var(--body);
  position: absolute;
  top: -3px;
  right: -5px;
  font-family: var(--normal-text);
}
@media screen and (max-width: 650px) {
  .Navbar {
    width: 100%;
  }
  .search-bar input {
    width: 85%;
  }
  .search {
    width: 20%;
  }
  .cart-icon {
    font-size: 1rem;
  }
}
